**/*.bin
**/*.hex
**/*.txt

**/*.log
**/__pycache__/
**/*.pyc

**/.vscode/settings.json

vp/out/
vp/obj_dir/

cosim/out/
cosim/obj_dir/
cosim/logs/
cosim/tests/
cosim/.genseed

tb/verilator/out/
tb/verilator/obj_dir/
tb/verilator/logs/

sw/benchmark/CoreMark/out
sw/benchmark/Embench-IoT/out

sw/test/out